.bace {
  
  height: 40vh;
  background: url('../../../public/india-planta-solar.png') no-repeat;
  
  background-size: cover;
  display: flex;
  justify-content: center;
  
}
.text{
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  
  
}
.Title{
  text-emphasis-color: red;
 
margin-top: 10px;
}
